Repository hkujy/Tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write",
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,tsx}": ["tsc --noEmit"]
}

wip(phase-1): fix Prisma schema, add DIRECT_URL, stabilize health checks, TS event handlers; Phase 1 validation passing
  .eslintrc.json
  API_DESIGN.md
  CODE_STRUCTURE_PLAN.md
  DATABASE_SCHEMA.md
  FINAL_VALIDATION_REPORT.md
  IMPLEMENTATION_PLAN.md
  IMPROVEMENTS.md
  PROJECT_PLAN.md
  README.md
  SYSTEM_DIAGRAMS.md
  USER_STORIES.md
  VALIDATION_SUMMARY.md
  middleware.ts
  next.config.mjs
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/app/api/health/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/config/cache.ts
  src/lib/config/env.ts
  src/lib/db/client.ts
  src/lib/utils/logger.ts
  tailwind.config.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Phase 2 complete: authentication, registration, CLI admin tools, student registration verified. Ready for tutor flow and admin dashboard.
  check-students.sh
  debug-users.js
  docker-compose.yml
  get-docker.sh
  package-lock.json
  package.json
  register-student.sh
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/auth/register/route.ts
  src/app/auth/error/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/lib/auth/config.ts
  src/lib/repositories/student.repository.ts
  src/lib/repositories/tutor.repository.ts
  src/lib/repositories/user.repository.ts
  src/middleware.ts
  src/types/auth.d.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

beforechangeAI
  PHASE2_PROGRESS_REPORT.md
Due: prettier --write, eslint --fix --max-warnings=0

Fix React hydration mismatch errors and complete application setup
  NEXTAUTH_SECRET="your-very-long-super-se.dockerfile
  create-test-user.js
  husky
  middleware.ts
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/appointments/route.ts
  src/app/api/availability/route.ts
  src/app/api/dashboard/route.ts
  src/app/api/tutors/route.ts
  src/app/auth/error/page.tsx
  src/app/auth/signin/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/Navigation.tsx
  src/components/Providers.tsx
  src/components/availability/TutorAvailability.tsx
  src/components/calendar/AppointmentForm.tsx
  src/components/calendar/AppointmentList.tsx
  src/components/calendar/AppointmentManager.tsx
  src/components/calendar/CalendarView.tsx
  src/components/calendar/EnhancedAppointmentForm.tsx
  src/components/dashboard/AssignmentManager.tsx
  src/components/dashboard/StudentProgress.tsx
  src/components/dashboard/TutorAnalytics.tsx
  src/contexts/AuthContext.tsx
  src/lib/utils/logger.ts
  tests/appointment.test.ts
  tutoring-calendar@0.1.0
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix ESLint useEffect dependency warnings
  src/components/availability/TutorAvailability.tsx
  src/components/calendar/AppointmentManager.tsx
  src/components/calendar/EnhancedAppointmentForm.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix login page role selection issue
  src/app/layout.tsx
  src/app/login/page.tsx
  src/components/ErrorBoundary.tsx
  src/components/Toast.tsx
  src/hooks/useAsync.ts
  src/lib/auth/config.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix authentication redirect to /login, update middleware to allow /login and remove hardcoded /auth/signin redirect
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Implement comprehensive loading states with skeleton components and loading buttons
  src/app/login/page.tsx
  src/components/availability/TutorAvailability.tsx
  src/components/calendar/AppointmentList.tsx
  src/components/calendar/CalendarView.tsx
  src/components/calendar/EnhancedAppointmentForm.tsx
  src/components/dashboard/AssignmentManager.tsx
  src/components/dashboard/StudentProgress.tsx
  src/components/ui/LoadingButton.tsx
  src/components/ui/Skeleton.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Integrate real API data across dashboard components
  src/app/api/analytics/route.ts
  src/app/student/page.tsx
  src/components/dashboard/TutorAnalytics.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Complete appointment booking system integration and UI enhancements
  src/components/calendar/AppointmentForm.tsx
  src/components/calendar/EnhancedAppointmentForm.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Differentiate payment dashboards for students and tutors
  prisma/schema.prisma
  src/app/api/lecture-hours/reminder/route.ts
  src/app/api/lecture-hours/route.ts
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/calendar/CalendarView.tsx
  src/components/lecture-hours/LectureHoursTracker.tsx
  src/components/lecture-hours/PaymentManager.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: major improvements - payment frequency config, session recording fixes, date handling, and calendar layout
  check-all-users.js
  consolidate-music.js
  create-test-data.js
  create-tutor.js
  prisma/seed.ts
  src/app/api/appointments/route.ts
  src/app/api/lecture-hours/route.ts
  src/app/api/tutors/[tutorId]/student-summary/route.ts
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/calendar/AppointmentForm.tsx
  src/components/calendar/CalendarView.tsx
  src/components/calendar/EnhancedAppointmentForm.tsx
  src/components/dashboard/StudentSummaryList.tsx
  src/components/lecture-hours/LectureHoursTracker.tsx
  src/components/lecture-hours/PaymentManager.tsx
  src/lib/db/client.ts
  test-appointment-workflow.js
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Implement comprehensive notification system and enhanced analytics
  src/app/api/analytics/route.ts
  src/app/api/notifications/[id]/read/route.ts
  src/app/api/notifications/bulk-mark-read/route.ts
  src/app/api/notifications/preferences/route.ts
  src/app/api/notifications/route.ts
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/dashboard/TutorAnalytics.tsx
  src/components/notifications/NotificationManager.tsx
  src/components/notifications/NotificationPreferencesManager.tsx
  src/lib/services/notification.service.ts
  test-notifications.js
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Add comprehensive test plan and quick summary for hydration and reliability improvements
  QUICK_TEST_SUMMARY.md
  TEST_PLAN_AND_TASKS.md
Due: prettier --write, eslint --fix --max-warnings=0

Update various files and tests for latest development
  TEST_PLAN_AND_TASKS.md
  jest.config.js
  jest.setup.js
  jest.setup.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/app/api/analytics/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/notifications/[id]/read/route.ts
  src/app/api/notifications/route.ts
  src/app/auth/error/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/unauthorized/page.tsx
  src/components/HydrationSafe.tsx
  src/components/NoSSR.tsx
  src/components/calendar/AppointmentList.tsx
  src/components/dashboard/TutorAnalytics.tsx
  src/components/notifications/NotificationManager.tsx
  src/components/ui/Skeleton.tsx
  src/lib/auth/config.ts
  src/lib/repositories/student.repository.ts
  src/lib/repositories/tutor.repository.ts
  src/lib/repositories/user.repository.ts
  src/middleware.ts
  tests/README.md
  tests/api/notifications-rate-limiting.test.ts.disabled
  tests/appointment.test.ts
  tests/components/appointment-list.test.tsx
  tests/components/nossr.test.tsx
  tests/e2e/hydration-extensions.spec.ts
  tests/mocks/handlers.ts
  tests/mocks/server.ts
  tests/setup.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix database configuration and demo login issues
  docker-compose.yml
Due: none

Consolidated tutor dashboard functionalities into AppointmentManagement component, fixed async params issue in API, and ensured all tests pass.
  APPOINTMENT_CONSOLIDATION_SUMMARY.md
  src/app/api/appointments/route.ts
  src/app/api/tutors/[tutorId]/students/route.ts
  src/app/tutor/page.tsx
  src/components/calendar/AppointmentManagement.tsx
  src/components/calendar/TutorAppointmentForm.tsx
  tests/api/tutor-appointment-creation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Enhanced availability system with recurring slots and performance optimizations
  next.config.mjs
  prisma/schema.prisma
  src/app/api/availability/route.ts
  src/app/page.tsx
  src/components/availability/TutorAvailability.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

perf: Optimize application loading performance
  next.config.mjs
  performance-check.js
  src/app/page.tsx
  src/lib/auth/config.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

perf: Implement aggressive loading optimizations
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/ui/LoadingSkeletons.tsx
  src/lib/db/client.ts
  src/lib/utils/cache.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Update dependencies and configuration for performance optimization
  next.config.mjs
  package-lock.json
  package.json
  src/components/dashboard/StudentSummaryList.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

docs: Add comprehensive development summary and quick context guide
  DEVELOPMENT_SUMMARY.md
  QUICK_CONTEXT.md
Due: prettier --write, eslint --fix --max-warnings=0

docs: add patent draft
  PATENT_DRAFT.md
Due: prettier --write, eslint --fix --max-warnings=0

chore: add all untracked files
  .env
  SIMULATION_TESTING_SUMMARY.md
  STUDENT_NOTES_IMPLEMENTATION.md
  STUDENT_NOTES_TESTING_SUMMARY.md
  docs/tutor-student-notebook-guide.ipynb
  src/app/api/notes/route.ts
  src/app/api/students/[studentId]/notes/[noteId]/route.ts
  src/app/api/students/[studentId]/notes/route.ts
  src/components/notes/StudentNotesManager.tsx
  src/components/notes/StudentNotesModal.tsx
  tests/api/student-notes.test.ts
  tests/components/student-notes-manager.test.tsx
  tests/simulation/load-testing.test.ts
  tests/simulation/multi-student-simulation.test.ts
  tests/simulation/user-journey.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: add logo integration across all pages
  PATENT_DRAFT.md
  pics/Logo.png
  public/logo.png
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/Navigation.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix testing configuration, resolve runtime errors, and verify E2E login
  DEVELOPMENT_NOTES.md
  QUICK_TEST_SUMMARY.md
  prisma/seed.ts
  public/Logo.png
  public/logo.svg
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/Navigation.tsx
  src/components/ui/LoadingSkeletons.tsx
  src/lib/auth/config.ts
  src/lib/config/cache.ts
  tests/api/student-notes.test.ts
  tests/e2e/hydration-extensions.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Enhance robustness: secure API, atomic transactions, performance fixes, and theme/test updates
  jest.setup.js
  jest.setup.ts
  package-lock.json
  package.json
  src/app/api/appointments/route.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/notes/route.ts
  src/app/api/notifications/[id]/read/route.ts
  src/app/api/notifications/bulk-mark-read/route.ts
  src/app/api/notifications/preferences/route.ts
  src/app/api/notifications/route.ts
  src/app/api/students/[studentId]/notes/[noteId]/route.ts
  src/app/api/students/[studentId]/notes/route.ts
  src/app/api/tutors/[tutorId]/students/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/student/page.tsx
  src/app/tutor/page.tsx
  src/components/ClientThemeProvider.tsx
  src/components/Navigation.tsx
  src/components/calendar/CalendarView.tsx
  src/components/ui/ThemeSelector.tsx
  src/components/ui/ThemeToggle.tsx
  src/contexts/ThemeContext.tsx
  src/lib/auth/config.ts
  src/lib/db/redis.ts
  tailwind.config.ts
  test-appointment-workflow.js
  tests/api/tutor-appointment-creation.test.ts
  tests/e2e/hydration-extensions.spec.ts
  tests/simulation/load-testing.test.ts
  tests/simulation/multi-student-simulation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

update
  SIMULATION_AND_UNIT_TEST_PLAN.md
  src/app/api/availability/route.ts
  src/lib/services/availability.ts
  src/lib/utils/date.ts
  tests/simulation/full-lifecycle.test.ts
  tests/simulation/global-classroom.test.ts
  tests/simulation/indecisive-student.test.ts
  tests/simulation/new-semester-rush.test.ts
  tests/unit/services/availability.test.ts
  tests/unit/services/notification.test.ts
  tests/unit/utils/date.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

Security: Update Next.js to v16.0.10 and React to v19.2.3 to resolve CVE-2025-66478
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

Fix: Resolve all dependency conflicts and vulnerabilities. Updated testing libraries, next-auth, eslint, and eslint-config-next to compatible versions. Verified no vulnerabilities found.
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

Fix: Increase auth rate limit to 20 req/min to prevent lockout
  middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix: Ensure time slots generate correctly in TutorAppointmentForm by wrapping generateTimeSlots in useCallback and updating useEffect dependencies.
  src/components/calendar/TutorAppointmentForm.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Configure local dev environment and external access
  .env
  docker-compose.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

fix(auth): Improve student registration flow and authentication stability
  check-db.ts
  package-lock.json
  package.json
  src/app/login/page.tsx
  src/lib/auth/config.ts
  src/lib/repositories/student.repository.ts
  src/lib/repositories/tutor.repository.ts
  src/middleware.ts
  stress-test.js
  test-rate-limit.js
  test-registration.js
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: working deployment with internationalization and authentication
  middleware.ts
  src/app/[locale]/auth/signup/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/login/page.tsx
  src/app/[locale]/student/page.tsx
  src/app/globals.css
  src/components/availability/AvailabilityCalendar.tsx
  src/components/availability/TutorAvailability.tsx
  src/lib/repositories/student.repository.ts
  src/lib/repositories/tutor.repository.ts
  tests/simulation/multi-student-simulation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: remove localtunnel dependency to resolve axios security vulnerabilities
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

fix: separate viewport config from metadata export for Next.js 16
  src/app/[locale]/layout.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: implement lazy Redis initialization to prevent build-time connection errors
  src/lib/redis.ts
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit
