Repository hkujy/Tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write",
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,tsx}": ["tsc --noEmit"]
}

Fix proxy for Vercel Edge runtime: Remove Redis dependency
  src/proxy.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Simplify proxy to minimal Edge-compatible version
  src/proxy.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Test: Minimal proxy without next-intl
  src/proxy.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Revert to middleware.ts: Vercel doesn't support proxy.ts yet
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix Vercel deployment: Restore middleware.ts with next-intl (no Redis)
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix: Remove next-auth from middleware (Edge incompatible)
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Debug: Delete middleware.ts to isolate Vercel 500 error
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix: Delete proxy.ts and restore src/middleware.ts
  .env.local.backup
  HOW_TO_LOGIN.md
  TESTING.md
  diagnostic-login.js
  middleware.ts
  playwright.config.ts
  reset-tutor-password.js
  src/app/[locale]/login/page.tsx
  src/app/[locale]/student/page.tsx
  src/app/[locale]/tutor/availability/page.tsx
  src/app/api/tutors/route.ts
  src/components/Navigation.tsx
  src/components/student/BrowseTutors.tsx
  src/middleware.ts
  test-login.js
  tests/agents/README.md
  tests/agents/agent-framework.ts
  tests/agents/framework-verification.spec.ts
  tests/agents/login-diagnostic.spec.ts
  tests/agents/multi-agent-basic.spec.ts
  tests/agents/multi-agent-concurrent.spec.ts
  tests/agents/multi-agent-realistic-part2.spec.ts
  tests/agents/multi-agent-realistic.spec.ts
  tests/agents/multi-student.spec.ts
  tests/agents/scenarios.ts
  tests/agents/seed-availability.js
  tests/agents/seed-test-users.js
  tests/agents/student-agent.ts
  tests/agents/test-data-factory.ts
  tests/agents/test-logger.ts
  tests/agents/tutor-agent.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix: Move messages to src/messages to ensure Vercel bundling
  src/i18n/request.ts
  src/messages/en.json
  src/messages/zh.json
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix: Vercel config - set framework to nextjs, remove db push from build
  package.json
  vercel.json
Due: prettier --write, eslint --fix --max-warnings=0

Add comprehensive Vercel deployment tests
  package-lock.json
  package.json
  playwright.vercel.config.ts
  tests/agents/debug-signup.spec.ts
  tests/agents/vercel-comprehensive-scenarios.spec.ts
  tests/agents/vercel-deployment-test.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix hardcoded dashboard ratings and add UX tests
  src/app/[locale]/tutor/page.tsx
  src/app/api/dashboard/route.ts
  src/components/dashboard/StudentProgress.tsx
  tests/agents/ux-analysis.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

Fix Vercel warnings: rename middleware to proxy and update node engine
  package.json
  src/proxy.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: remove mock student progress data and implement empty state
  signup-page-debug.png
  src/components/calendar/EnhancedAppointmentForm.tsx
  src/components/dashboard/StudentProgress.tsx
  src/messages/en.json
  src/messages/zh.json
  tests/agents/scenario1-tutor-dashboard.png
  tests/agents/scenario2-availability-page.png
  tests/agents/scenario3-student-dashboard.png
  tests/agents/scenario4-student1-concurrent.png
  tests/agents/scenario4-student2-concurrent.png
  tests/agents/scenario4-student3-concurrent.png
  tests/agents/scenario5-chinese.png
  tests/agents/scenario5-english.png
  tests/agents/scenario6-nav-availability.png
  tests/agents/scenario6-nav-tutor.png
  tests/agents/scenario8-mobile-dashboard.png
  tests/agents/scenario8-mobile-login.png
  tests/agents/scenario9-invalid-login.png
  tests/agents/student1-registration-1766768994711.png
  tests/agents/student2-registration-1766769003694.png
  tests/agents/student3-registration-1766769012760.png
  tests/agents/student4-registration-1766769021958.png
  tests/agents/student5-registration-1766769030990.png
  tests/agents/tutor-registration-1766768987649.png
  tests/agents/vercel-test-report.json
  ux-404-page.png
  ux-empty-bookings.png
  ux-form-validation-empty.png
  ux-login-analysis.png
  ux-password-weak.png
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: consolidate duplicate StudentProgress blocks in en.json and zh.json
  block1.txt
  block2.txt
  src/messages/en.json
  src/messages/zh.json
Due: prettier --write, eslint --fix --max-warnings=0

feat: Add Profile Management and remove Quick Demo Login
  src/app/[locale]/login/page.tsx
  src/app/[locale]/student/page.tsx
  src/app/[locale]/tutor/page.tsx
  src/app/api/user/profile/route.ts
  src/components/dashboard/ProfileManager.tsx
  src/messages/en.json
  src/messages/zh.json
  test-profile-api.js
  tests/e2e/profile-verification.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Resolve Vercel deployment test issues
  src/app/[locale]/login/page.tsx
  src/app/[locale]/tutor/page.tsx
  tests/e2e/vercel-deployment-scenarios.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Add Vercel production database seed scripts
  seed-vercel-production.js
  setup-vercel-db.sh
Due: prettier --write, eslint --fix --max-warnings=0

fix: Add DIRECT_URL env var for CI/CD database migrations
  .github/workflows/ci-cd.yml
Due: none

fix: Add eslint dirs config to fix CI/CD lint error
  next.config.mjs
Due: none

fix: Prevent .env from overriding CI/CD database URL
  .github/workflows/ci-cd.yml
Due: none

fix: Update CI/CD to use Node.js 20.x (Next.js requirement)
  .github/workflows/ci-cd.yml
Due: none

fix: Specify directory for next lint command
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

fix: Temporarily disable lint in CI/CD to unblock deployment
  .github/workflows/ci-cd.yml
Due: none

fix: Remove hardcoded 'John Doe' placeholder from tutor dashboard
  src/app/[locale]/tutor/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Remove literal \n from appointment display
  src/components/calendar/AppointmentManagement.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Exclude simulation and agent tests from CI/CD
  jest.config.js
Due: prettier --write, eslint --fix --max-warnings=0

fix: Remove hardcoded fake statistics from tutor dashboard
  src/app/[locale]/tutor/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Add tutor notifications and create notifications page
  src/app/[locale]/notifications/page.tsx
  src/app/api/appointments/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Create proper notifications page and fix navigation
  src/app/[locale]/notifications/page.tsx
  src/components/NotificationBell.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Add required props to NotificationManager
  src/app/[locale]/notifications/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Convert userRole to lowercase for NotificationManager
  src/app/[locale]/notifications/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Add router mocks to NotificationBell tests
  src/components/__tests__/NotificationBell.test.tsx
  tests/components/NotificationBell.test.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Remove code fence and fix AgentLogger import
  tests/agents/multi-agent-realistic.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Add hourly rate schema and API endpoint
  prisma/schema.prisma
  src/app/api/tutor/rates/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Add cost calculation to appointment creation API
  src/app/api/appointments/route.ts
  src/app/api/tutor/rates/student/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Correct auth import path in rate endpoints
  src/app/api/tutor/rates/route.ts
  src/app/api/tutor/rates/student/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

fix: Use correct auth config import path
  src/app/api/tutor/rates/route.ts
  src/app/api/tutor/rates/student/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit

feat: Add Rates tab and HourlyRateManager to tutor dashboard
  src/app/[locale]/tutor/page.tsx
  src/app/api/tutor/students/route.ts
  src/components/tutor/HourlyRateManager.tsx
Due: prettier --write, eslint --fix --max-warnings=0, tsc --noEmit
